
        * {
            margin: 0;
            padding: 0;
            font-family: 'Playfair Display', serif;
            font-size: 0.7vw;
        }
        
        .container{
            padding: 0;
            
            flex-direction: column;
            
        }
        
        .navbar{
            box-sizing: border-box;
            position: fixed;
            width: 100vw;
            height: 4vh;
            display: flex;
            flex-direction: row ;
            justify-content: space-between;
            background-color: rgb(250, 250, 250);    
            z-index: 50;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Ajout de l'ombre dirigée vers le bas */

        }
        .navZ{
            display: flex;
            letter-spacing: 0.1vw;
            padding-left: 0.5vw;
            align-items: center;
            margin: 1vh 0;
            
        }
        
        .navZ:hover{
            background-color: rgb(180, 179, 180);
        }
        .navr{
            display: flex;
            
            position: relative;
            height: 100%;
            color: black;
            word-spacing: 10px;
            padding-right: 2%;

        }
        .navbu:hover{
            background-color: rgb(180, 179, 180);
        }
        .navbu{
            display: flex;
            box-sizing: border-box;
            text-decoration: none;
            color: black;
            font-size: 1rem;
            padding: 2vh;
           
            letter-spacing: 2px;
             justify-content: center;
            align-items: center;
        }
        .home{
            color: black;
            font-size: 1rem;
            text-decoration: none;
        }




        .burger {
            display: block;
           justify-content: center;
            height: auto;
            width: 100vw;
            padding-top: 0.2vw;
                            }

        #hamburger{
            width: 100%;
                 }
        
        .catering{
            color: rgb(85, 81, 81);
            letter-spacing: 6px;
        }

        .about{
             /* photo + texte*/
           
            display: flex;
            flex-direction: row;
            border-bottom: 1px solid rgb(175, 172, 172);
            padding: 5% 20%;
            justify-content: space-evenly;
            align-items: center; 
        }

        .aboutp{
             /* partie photo*/
            position: relative;
            border: none;
            width: 30%;
        }

        .table{
            width: 100%;
            border-radius: 5px;
        }

        .aboutt{ /* partie texte*/
           
            width: 35%;
            line-height: 2rem;                 
            
        }

        .menu{
             /* photo + texte*/
             display: flex;
             flex-direction: row;
             border-bottom: 2px solid rgb(175, 172, 172);
             padding: 5% 20% 5% 24% ;
             justify-content: space-evenly;
           
             
        }
        .detail{
            color: rgba(43, 41, 41, 0.671);
            font-size: 1rem;
        }

        ul{
            list-style: none;
           
        }

        .menut{/* partie texte*/
            
            position: relative;
            display: flex;
            flex-direction: column;
            width: 40%;
            line-height: 3rem;
            font-family: 'Playfair Display', serif;
            border: none;
                    }
            

        .menup{ /* partie photo*/
            position: relative;
            border: none;
            width: 40%;
            
        }

        .plat{
            
           width: 80%;
           
        }

        h5{
            font-family: 'Playfair Display', serif;
            letter-spacing: 3px;
            font-size: 1.3rem;
            font-weight: 100;
            
            margin-bottom: 1rem;
        }



        h1{
            font-size: 2.4rem;
       
        }



        h3{
            text-align: center;
            font-weight: lighter;
            font-family: 'Playfair Display', serif; 
            font-size: 2.4rem;
            margin-bottom: 2rem;
        }


        .contact {
            padding: 5% 24%;
            text-align: left !important;
           
        }   
        
        .butt{
            background-color: rgb(233, 230, 230);
            color: rgb(0, 0, 0);
            border: none;
            padding: 7px 7px;
        }
        .butt:hover{
            background-color: gray !important;
            cursor: pointer;
        }

        input{
            padding: 1%;
            width: 100%;
            border-top: none;
            border-left: none;
            border-right: none;
            border-bottom: 1px solid grey;
        }


        .alert {
            position: fixed;
            top: 10%;
            right: 1%;
            padding: 5px 20px;
            color: white;
            opacity: 1;
            transition: opacity 0.6s;
            margin-bottom: 15px;
            justify-content: center;
            row-gap: 10vh;
            border-radius: 10px;
            box-shadow: 0 0 5px rgb(92, 33, 105);
            background-color: rgb(155, 111, 163);
            border: 2px solid rgb(122, 60, 134);
          }
                    
          .closebtn {
            margin-left: 15px;
            color: white;
            font-weight: bold;
            float: right;
            font-size: 22px;
            line-height: 20px;
            cursor: pointer;
            transition: 0.3s;
          }
          
          .closebtn:hover {
            color: black;
          }
        
        
    @media screen and (max-width:380px), (orientation: portrait){
        
    *{
        font-size: 2vw;
        
    }
 
     .about{
             /* photo + texte*/
           
            display: flex;
            flex-direction: column-reverse;
            border-bottom: 1px solid rgb(175, 172, 172);
            padding: 5% 0%;
            row-gap: 20px;
            align-items: center; 
        }

        .aboutt{ /* partie texte*/
                       width: 80%;
                  line-height: 3rem;  
                  text-align: center;               
                    }

                    .aboutp{
                        /* partie photo*/
                       position: relative;
                       border: none;
                       width: 70%;
                   }          

                   .menu{
                    /* photo + texte*/
                    display: flex;
                    flex-direction: column;
                    border-bottom: 2px solid rgb(175, 172, 172);
                   justify-content: center;                   
                    align-items: center;
                    padding: 5% 0%;

               }

               .menup{ /* partie texte*/
                position: relative;
                border: none;
                width: 80%;
               
            }

            .menut{
                margin-bottom: 5%;
            }

            .plat{
                            width: 100%;
                             }

                             .contact {
                                padding: 5% 2%;
                                                                
                            }  

                                h1{
                                    font-size: 3rem;
                                }
                                
                                input{
                                    padding: 4%;
                                    width: 90%;
                                    border-top: none;
                                    border-left: none;
                                    border-right: none;
                                    border-bottom: 1px solid grey;
                                }
    
    }